<!DOCTYPE html>

<html>

    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

        <header>
            <h1> Fed Clock  </h1>
        </header>
       
    </head>

    <body>
        <div class = "flash-message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% endif %}
                {% endwith %}      
        {% block body %}{% endblock %}
        </div>
          
		<form action = "/" method = "post">
			Time in: &nbsp;
            <input name ="time_in" type ="time" required value = 0>
            &nbsp; &nbsp; &nbsp; Hours Worked:
            <input name = "time_worked" readonly type = "text" value = {0} >
            <br><br>
            Time out:
            <input name = "time_out"  type ="time" required value = 0>
            &nbsp; &nbsp; &nbsp; Over/Under: &nbsp; &nbsp;
            <input name = "over_under" readonly type = "text" value = {1} >
			<br><br>
            <input type ="submit">
            &nbsp; 
            <input type = "reset" value = "Clear Input">
        </form>
        
    </body>
    <footer>
    <br>
    Version 1.6<br>
    Created by: Joey Wilson
    </footer>
</html>