
form {
    background-color: #eee;

    font: 16px sans-serif;

    width: 540px;

    padding: 20px;

    margin:0 auto;

    border-radius: 10px;

    clear: both;
}

h1 {
    font: 80px sans-serif;

    color: #483D8B;

    text-align: center;

}

.flash-message {
    text-align: center;

    color: red;

    font: 16px;
}

footer{
    text-align: center;
}
    

