* {
    padding: 20px;

    margin: 0 auto;

    width: 540px;

    border-radius: 10px;
}
form {
    background-color: #eee;

    font: 16px sans-serif;
}

h1 {
    font: 80px sans-serif;

    color: #483D8B
}



    

